{% extends 'base.html' %}

{% block head_extra %}
  <link href="{{ STATIC_URL }}css/home.css" rel="stylesheet" media="screen">
{% endblock head_extra %}

{% block header %}
<div class="header">
  <div class="container">
    <h1>Code Exam</h1>
    <p>Seja bem vindo! Por favor, faça login em nosso sistema para obter acesso completo às suas informações de prova.</p>
    <a href="/prova/" class="btn btn-primary btn-large">Minhas Provas</a>
  </div>
</div>
{% endblock header %}

{% block content %}
{% endblock content %}