<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Code Exam - Login</title>
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/login.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>    
</head>
<body>
    <div class="container">
        {% if message %}
        <div class="alert alert-error login-message">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endif %}
        <form class="form-signin" method="post" action="/login/">
            {% csrf_token %}
            <h2 class="form-signin-heading">Efetuar login</h2>
            <input type="text" placeholder="Usuário" class="input-block-level" name="username">
            <input type="password" placeholder="Senha" class="input-block-level" name="password">
            <label class="text"><a href="#">Esqueci minha senha</a></label>
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> Lembrar login
            </label>
            <button type="submit" class="btn btn-large btn-primary">Entrar</button>
        </form>
    </div>
</body>
</html>