{% extends 'base.html' %}

{% block head_extra %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/question.js"></script>
{% endblock head_extra %}

{% block content %}
  <ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="/prova/{{ user_exam.id }}">Prova</a> <span class="divider">/</span></li>
    <li class="active">Questão</li>
  </ul>
  <p class="lead">{{ question.question }}</p>
  <pre>{{ question.example }}</pre>
  <p>Escolha a resposta correta:</p>
  {% if answers %}
    <form id="frm-answers">
      {% csrf_token %}
      <input type="hidden" name="user-exam-id" value="{{ user_exam.id }}">
      <input type="hidden" name="question-id" value="{{ question.id }}">
      {% for answer in answers %}
        <label class="radio"><input type="radio" name="rb-answer" value="{{ answer.id }}" {% if user_answer.closed_answer.id == answer.id %} checked {% endif %}> {{ answer.letter }}) {{ answer.answer }}</label>
      {% endfor %}
      <div class="form-actions">
        <button type="button" class="btn"><i class="icon-chevron-left"></i> Anterior</button>
        <button type="button" class="btn">Próxima <i class="icon-chevron-right"></i></button>
      </div>
    </form>
  {% endif %}
{% endblock content %}