{% extends 'base.html' %}

{% block content %}
  <ul class="breadcrumb">
    <li class="active">Home</li>
  </ul>
  <h2>Minhas Provas</h2>
  {% if user_exam_list %}
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Código</th>
            <th>Prova</th>
            <th>Data Limite</th>
            <th>Progresso</th>
            <th>Ação</th>
          </tr>
        </thead>
        <tbody>
          {% for exam in user_exam_list %}
            <tr>
              <td>{{ exam.id }}</td>
              <td>{{ exam.exam }}</td>
              <td>{{ exam.expire_date }}</td>
              <td>{{ exam.get_progress }}</td>
              <td>
                <a href="/prova/{{exam.id}}/" class="btn btn-success"><i class="icon-ok icon-white"></i> Iniciar Prova</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  {% else %}
      <p>Nenhuma prova cadastrada.</p>
  {% endif %}
{% endblock content %}