{% extends 'base.html' %}

{% block content %}
  <ul class="breadcrumb">
    <li class="active">Home</li>
  </ul>
  <h2>Provas</h2>
  {% if user_exam_list %}
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Código</th>
          <th>Prova</th>
          <th>Data Limite</th>
          <th>Progresso</th>
          <th>Status</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        {% for exam in user_exam_list %}
          <tr>
            <td>{{ exam.id }}</td>
            <td>{{ exam.exam }}</td>
            <td {% if exam.has_expired and not exam.end_time %} style="color: red;" {% endif %}>{{ exam.expire_date|date:"d/m/Y à\s H:i" }}</td>
            <td>{{ exam.get_progress }}</td>
            <td>{{ exam.get_status }}</td>
            <td>
              {% if not exam.has_expired %}
                {% if not exam.start_time %}
                  <a href="/prova/{{ exam.id }}/iniciar/" class="btn btn-small btn-success">Iniciar</a>
                {% elif exam.start_time and not exam.end_time %}
                  <a href="/prova/{{ exam.id }}/" class="btn btn-small btn-warning">Continuar</a>
                  {% if exam.get_progress == '100%' %}
                    <a href="/prova/{{ exam.id }}/enviar/" class="btn btn-small btn-primary">Enviar</a>
                  {% endif %}
                {% endif %}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Nenhuma prova cadastrada.</p>
  {% endif %}
{% endblock content %}