.header {
  background: url('/static/img/gray_jean.png');
  height: 300px;
  width: 100%;
  display: block;
  border-bottom: 1px solid #ccc;
}

.header h1 {
  padding-top: 60px;
  font-size: 60px;
  letter-spacing: -1px;
  line-height: 1;
  color: inherit;
  text-rendering: optimizelegibility;
}

.header p {
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
}